#count{
    display: block;
    font-size: 10em;
    color: #0697ff;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
}
#button
{
    text-align: center;
}
.but{
    padding: 10px 20px;
    font-size: 2em;
    color: white;
    background-color: pink;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.but:hover{
    background-color: rgb(25, 139, 36);
    color: black;
}